<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Document Summarizer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>AI Document Summarizer</h1>

    <form method="POST" enctype="multipart/form-data">

        <textarea
            name="text"
            placeholder="Paste your document here..."
        ></textarea>

        <div class="upload-section">

    <!-- PDF -->

    <label>Upload PDF File</label>

    <label for="pdf-upload" class="custom-file-upload">
        Choose PDF File
    </label>

    <input type="file" id="pdf-upload" name="pdf_file">


    <!-- DOCX -->

    <label>Upload DOCX File</label>

    <label for="docx-upload" class="custom-file-upload">
        Choose DOCX File
    </label>

    <input type="file" id="docx-upload" name="docx_file">


    <!-- SUMMARY LENGTH -->

    <label>Select Summary Length</label>

    <select name="summary_length">

        <option value="short">Short</option>

        <option value="medium">Medium</option>

        <option value="long">Long</option>

    </select>

</div>
        <br><br>

        <button type="submit" onclick="showLoading()">
            Summarize
        </button>

        <p id="loading" style="display:none;">
            Generating summary...
        </p>

    </form>

    {% if summary %}

    <div class="summary-box">

        <h2>Summary</h2>

        <p id="summary-text">{{ summary }}</p>

        <br>

        <a href="/download?summary={{ summary }}">

            <button>
                Download PDF
            </button>

        </a>

        <button onclick="copySummary()">
            Copy Summary
        </button>

    </div>

    {% endif %}

</div>

<script>

function copySummary() {

    const text =
        document.getElementById("summary-text").innerText;

    navigator.clipboard.writeText(text);

    alert("Summary copied!");

}

function showLoading() {

    document.getElementById("loading").style.display = "block";

}

</script>

</body>
</html>